header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
}
label {
    margin-right: 10px;
}


